* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 166, 0)
}

body {
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2.5rem;
    
}

#game-box {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
}

.score-box {
    padding-top: 50px;
    text-decoration: underline;
    font-weight: bold;
}

#answer-box {
    display: block;
    height: 60px;
    width: 220px;
    background-color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.9rem;
    
}

.letter-box {
display: inline-block;
height: 50px;
width: 50px;
background-color: rgb(85, 212, 53);
margin-top: 20px;
border-radius: 15px;
text-align: center;
font-weight: bolder;
font-size: 1.8rem;
}

#guess-input {
    display: block;
    height: 50px;
    width: 50px;
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 1.8rem;
    text-align: center;
}

#submit-btn {
    display: block;
    height: 50px;
    width: 200px;
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

#attempts-left {
    display: block;
    margin-top: 10px;
    font-size: 1.3rem;
}

#used-letters-box {
    display: block;
    height: 60px;
    width: 220px;
    background-color: white;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.9rem;
}

.fas {
    display: inline-block;
    font-size: 40px;
    margin-top: 20px;
}

.fas:hover {
    color: chartreuse;
}

.footer-box {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 166, 0);
}