/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    height: 50px;
    background-color: black;
}

header h1 {
    margin-right: auto;
    color: white;
    text-shadow: 0 0 5px #49ff18, 0 0 10px #49ff18, 0 0 15px #49ff18, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    text-align: center;
    font-size: 2.5rem;
}

.nav-links {
    list-style: none;
}

.nav-links li,
a {
    display: inline-block;
    padding: 0px 10px;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.nav-links li:hover {
    color: rgb(85, 212, 53);
}

a:hover {
    color: rgb(85, 212, 53);
}

body {
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/ArronBeale/CI_PP2_Decrypt/main/assets/images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

/* modal styles for welcome screen for when player arrives for first time */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: visibility 0s, opacity 0.5s;
    visibility: visible;
    opacity: 1;
}

.backdrop-inactive {
    visibility: hidden;
    opacity: 0;
}

#welcome-box {
    padding-top: 20px;
    width: 70%;
    font-size: 1.4rem;
    background: white;
    position: fixed;
    z-index: 1;
    background-color: white;
    box-shadow: 5px 5px 15px 5px #000000;
}

.modal-btn {
    background-color: rgb(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 2rem;
    cursor: pointer;
}

.modal-btn:hover {
    color: rgb(85, 212, 53);
}

/* the following styles are for within the game area */
#game-box {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100vh;
    background-color: rgba(172, 172, 172, 0.9);
}

.score-box {
    padding-top: 35px;
    font-weight: bolder;
    font-size: 1.3rem;
}

#answer-box {
    display: block;
    height: 60px;
    width: 220px;
    background-color: white;
    padding-top: 5px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.9rem;
    border: 1px solid rgb(0, 0, 0);
}

.letter-box {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgb(85, 212, 53);
    margin-top: 20px;
    padding-top: 5px;
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.8rem;
    border: 1px solid rgb(0, 0, 0);
}

#guess-input {
    display: block;
    height: 50px;
    width: 50px;
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 1.8rem;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

#guess-label {
    visibility: hidden;
}

#submit-btn {
    display: block;
    height: 50px;
    width: 200px;
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

#used-letters-box {
    display: block;
    height: 60px;
    width: 220px;
    padding-top: 5px;
    background-color: white;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.9rem;
    border: 1px solid rgb(0, 0, 0);
}

#difficulty-box {
    margin-top: 30px;
    text-align: left;
    padding-left: 10px;
    width: 20%;
    height: 70px;
    font-weight: bolder;
}

#difficulty-box li {
    list-style-type: none;
    font-size: 1.5rem;
}

.btn-mode:hover {
    font-weight: bolder;
    color: white;
}

.game-controls {
    display: inline-block;
    font-size: 40px;
    margin-top: 20px;
}

#btn-music-on {
    font-size: 20px;
}

#btn-music-off {
    font-size: 20px;
}

#btn-rules {
    display: inline-block;
    font-size: 30px;
    right: 0;
    margin-left: 90%;
    padding-bottom: 10%;
}

.fas:hover {
    color: rgb(85, 212, 53);
}

footer {
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
    padding: 10px 10%;
    width: 100%;
    height: 40px;
    background-color: black;
}

footer li {
    display: inline-block;
    padding: 0px 10px;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

#error-container {
    width: 100%;
    height: 600px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#error-image {
    background-image: url("../images/404.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: contain;
    overflow: hidden;
}

.contact-box {
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 30%;
    background-color: white;
    text-align: center;
}
.contact-box div {
    padding: 10px;
}

textarea {
    border: 1px solid black;
}

label {
    display: inline-block;
    width: 30%;
}

input {
    border: 1px solid black;
    padding: 7px;
    border-radius: 10px;
    width: 40%;
}

/* Media query for phones*/
@media screen and (max-width: 600px) {

    #welcome-box {
        width: 70%;
        height: 70%;
        font-size: 1rem;
    }

    header {
        padding: 5px 2%;
        width: 100%;
        height: 30px;
    }

    header h1 {
        margin-right: auto;
        color: white;
        font-size: 1.3rem;
    }

    .nav-links {
        font-size: .8rem;
    }

    .nav-links li,
    a {
        display: inline-block;
        padding: 0px 5px;
        font-weight: 500;
        font-size: 1rem;
    }

    /* I need to turn id into a class as feedback page is using game box id also */
    #game-box {
        margin-top: 30px;
        width: 70%;
        height: 100vh;
    }

    .score-box {
        padding-top: 10px;
    }

    .fas {
        display: inline-block;
        font-size: 30px;
        margin-top: 20px;
    }

    #answer-box {
        display: block;
        height: 40px;
        width: 130px;
        background-color: white;
        margin-top: 25px;
        padding-top: 5px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        text-align: center;
        font-weight: bolder;
        font-size: 1.2rem;
        border: 1px solid rgb(0, 0, 0);
    }

    .letter-box {
        display: inline-block;
        height: 35px;
        width: 35px;
        background-color: rgb(85, 212, 53);
        margin-top: 20px;
        border-radius: 15px;
        text-align: center;
        font-weight: bolder;
        font-size: 1.2rem;
        border: 1px solid rgb(0, 0, 0);
        padding-top: 5px;
    }

    #guess-input {
        display: block;
        height: 40px;
        width: 40px;
        background-color: white;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        font-weight: bolder;
        font-size: 1.3rem;
        text-align: center;
        border: 1px solid rgb(0, 0, 0);
    }

    #used-letters-box {
        display: block;
        height: 40px;
        width: 130px;
        background-color: white;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        text-align: center;
        font-weight: bolder;
        font-size: 1.2rem;
        border: 1px solid rgb(0, 0, 0);
    }

    #difficulty-box {
        display: inline-block;
        margin-top: 30px;
        text-align: left;
        padding-left: 10px;
        width: 20%;
        height: 70px;
    }

    #difficulty-box li {
        list-style-type: none;
        font-size: 1.2rem;
    }

    header {
        position: fixed;
        top: 0;
    }
    footer {
        position: fixed;
        bottom: 0;
    }

}